<div>
  <form [formGroup]="courseForm" (ngSubmit)="onSearch(courseForm.value)" #myform="ngForm">
    <div class="form-group col-md-6 col-sm-4" style="height: 50px;padding: 10px 10px 10px 5px;margin: 20px 0px 15px 0px;">
      <label>Course Description</label>
      <input type="text" class="form-control" formControlName="description">
    </div>
    <div class="form-group col-md-6 col-sm-4"  style="height: 39px;padding: 10px 10px 10px 5px;margin: 20px 0px 15px 0px;">
      <label required>Course Type</label>
      <select class="form-control" formControlName="courseName" required>
      <option [ngValue]="null">Select Course Type</option>
     <option *ngFor="let course of courseType" [value]="course">
     {{course}}
     </option>
     </select>
     <p style="color:red" *ngIf="courseForm.get('courseName').hasError('required') && myform.submitted">CourseName is required</p>
    </div>
    <div class="form-group  col-md-6 col-sm-6 col-md-offset-5" style="justify-content: center;margin-top:35px">
      <button name="add" type="submit" value="add" class="btn btn-primary" >Search</button>
    </div>
    </form>
  <div  *ngIf="courseLength!=0" >
    <table class="table">
      <thead>
        <tr>
          <th>S.no</th>
          <th> Title </th>
          <th> URL </th>
          <th> Description </th>
          <th> Document Type </th>
          <th> Course type </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseData of courses;let i=index">
          <td>{{i+1}}</td>
          <td>{{courseData.title}}</td>
          <td>{{courseData.url}}</td>
          <td>{{courseData.description}}</td>
          <td>{{courseData.documentType}}</td>
          <td>{{courseData.courseType}}</td>
          <td><input type="checkbox" (change)="toggleVisibility($event,courseData)"/></td>
        </tr>
      </tbody>
    </table>
    <div  class="form-group  col-md-6 col-sm-6 col-md-offset-5" style="justify-content: center;margin-top:35px">
            <button name="add" type="submit" value="add" class="btn btn-danger"  (click)="onAddSubmit()">Submit</button>
    </div>
    </div>
</div>